<h3>Summary</h3>
<ul>
  <li>Count</li>
  <li>Distribution 1</li>
  <li>Distribution 2</li>
  <li>Distribution 3</li>
  <li>Distribution 4</li>
  <li>Distribution 5</li>
</ul>

<%= link_to("Create Strategy", strategies_path(@new_strategy_params), method: :post) %>
