<h3>Index Strategy</h3>

<br>
<%= link_to("New Strategy", new_strategy_path) %>
<br>
<br>

<table class="table table-striped">
  <thead>
    <th colspan="2">Actions</th>
    <th>Params</th>
  </thead>

  <tbody>
    <% @strategies.each do |strategy| %>
      <tr>
        <td>
          <%= link_to("View", strategy_path(strategy)) %>
        </td>
        <td>
          <%= link_to("Edit", edit_strategy_path(strategy)) %>
        </td>
        <td>
          <%= strategy.search_params.inspect %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
